- shell
- python
- ipython
- Jupyter note book

1. commands:
- pwd – current path
- cd .. – up a folder 
- cd ~/ –   back to working folder 
- ls – list what’s in the folder
- rm <name> – remove specified item from folder
- cat – read whats in a text file

In [4]:
"45"

'45'

In [5]:
type('45')

str

In [6]:
a = "45"
int(a)

45

In [7]:
number = '34'

In [8]:
type(number)

str

In [9]:
number = int(number)

In [10]:
type(number)

int

In [11]:
number = str(number)

In [12]:
type(number)

str

In [13]:
number = int(number + number)

In [14]:
number

3434

In [15]:
number = int(number  * number)

In [16]:
number

11792356

In [17]:
type(number)

int

In [18]:
num = '5'

In [19]:
num = num * num

TypeError: can't multiply sequence by non-int of type 'str'